* {
  box-sizing: border-box;
}

body {
  font-family: "Epilogue", sans-serif;
  margin: 0;
}

/* Snap Logo */
.snap-logo {
  width: 24%;
}

/* MENU ICON */
.menu-icon {
  width: 10%;
}

.menu-icon-open {
  position: absolute;
  right: 20px;
}

.menu-icon:hover {
  cursor: pointer;
}

/* CLOSE ICON X */
.close-menu-icon {
  position: absolute;
  right: 15px;
}

.close-menu-icon:hover {
  cursor: pointer;
}

/* entire container of side menu */
.mobile-menu {
  display: flex;
  flex-direction: column;
  color: hsl(0, 0%, 41%);
  background-color: white;
  position: fixed;
  right: -327px;
  padding: 25px;
  transition: margin-right 0.5s;
}

/* closes menu nicely when click X close */
.close-menu {
  transition: 1s;
  margin-right: -27px;
}

/* opens menu when click hamburger */
.open-menu {
  transition: margin-right 0.5s ease;
  margin-right: 327px;
  height: 100%;
}

/* features, company, careers, about*/
.mobile-menu-items {
  border: none;
  background-color: white;
  color: hsl(0, 0%, 41%);
  font-family: "Epilogue", sans-serif;
  font-size: 18px;
  text-align: left;
  margin: 17px 0px 20px 0px;
}

.mobile-menu-items:hover {
  cursor: pointer;
}

/* features dropdown, company dropdown */
.mobile-menu-sub-items {
  margin: 10px 20px;
}

/* icons in menu */
.mobile-menu-sub-items img {
  margin: 0px 10px;
}

.subnav-content-feat,
.subnav-content-company {
  display: flex;
  flex-direction: column;
  color: hsl(0, 0%, 41%);
  margin-left: 15px;
}

.subnav-content-collapse {
  display: none;
}

/* links styles */
.subnav-content a {
  color: hsl(0, 0%, 8%);
  text-decoration: none;
}

.login-and-register-buttons {
  display: flex;
  flex-direction: column;
  padding: 0px 35px;
}

.login {
  font-family: "Epilogue";
  font-size: 18px;
  background-color: white;
  color: hsl(0, 0%, 41%);
  border: none;
  padding: 5px 10px;
}

.register {
  font-family: "Epilogue";
  font-size: 18px;
  background-color: white;
  color: hsl(0, 0%, 41%);
  border: solid 1px black;
  margin: 10px 0px;
  border-radius: 15px;
  padding: 15px 65px;
}

/* desktop style: OFF */
.nav-bar-desktop {
  display: none;
}

.left-nav-desktop {
  display: flex;
  flex-direction: row;
  margin-top: 15px;
}

.nav-bar-mobile {
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

/**** Column Container with text & Images ****/
.column-container {
  display: flex;
  flex-direction: column-reverse;
}

/* Header Text, Slogan, Learn More Btn, Sponsors */
.left-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* header title */
.header-title {
  font-size: xxx-large;
  overflow: hidden;
  text-align: center;
}

.intro-slogan {
  display: flex;
  color: hsl(0, 0%, 41%);
  font-size: 18px;
  padding: 20px;
  line-height: 1.5em;
  text-align: center;
}

.learn-more-btn {
  font-family: "Epilogue", sans-serif;
  background-color: black;
  border: solid 1px black;
  color: white;
  border-radius: 20px;
  padding: 25px 45px;
  font-size: x-large;
}

.clients {
  display: inline-flex;
  justify-content: space-around;
  width: 100%;
  align-items: center;
  padding: 50px 0px;
  text-align: center;
}

/* images */
.mobile-hero-img {
  width: 100%;
}

.desktop-hero-img {
  display: none;
}

@media screen and (min-width: 1440px) {
  /* snap logo */
  .snap-logo {
    width: 150px;
    height: 50px;
    margin: 10px 50px;
  }

  .desktop-nav-span {
    display: flex;
  }

  /* ENTIRE navigation bar: desktop */
  .nav-bar-desktop {
    display: inline-flex;
    color: hsl(0, 0%, 41%);
    justify-content: space-between;
    width: 100%;
    margin-top: 40px;
  }

  /* login & register nav bar */
  .right-nav-desktop {
    /* display: flex; */
    height: fit-content;
    margin: 0px 50px;
  }

  .left-nav-desktop {
    align-items: flex-start;
  }

  .left-nav-desktop .subnav {
    padding: 0px 15px;
  }

  /* hides nav bar in mobile view */
  .nav-bar-mobile {
    display: none;
  }

  .desktop-menu-items {
    border: none;
    background-color: white;
    color: hsl(0, 0%, 41%);
    font-family: "Epilogue", sans-serif;
    font-size: 22px;
    margin: 17px 10px 20px 0px;
  }

  .desktop-menu-items:hover {
    color: black;
  }

  .desktop-menu-sub-items {
    margin: 9px 15px;
    font-size: 22px;
  }

  /* desktop icons */
  .desktop-menu-sub-items img {
    margin: 0px 10px;
  }

  .feature-contents-desktop {
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    box-shadow: 0px 0px 40px -10px hsl(0deg 0% 41%);
    padding: 30px 10px;
    position: absolute;
    margin: 0px -80px;
  }

  .company-contents-desktop {
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    box-shadow: 0px 0px 40px -10px hsl(0deg 0% 41%);
    padding: 30px 10px;
    position: absolute;
  }

  /* hover feature */
  .features-dropdown-desktop:hover,
  .company-dropdown-desktop:hover {
    cursor: pointer;
  }

  .hide-contents-desktop {
    display: none;
  }

  /* register button turns black */
  .register:hover {
    color: black;
    border: solid 2px black;
  }

  /* register button static */
  .register {
    border: solid 2px hsl(0, 0%, 41%);
    padding: 20px 30px;
    border-radius: 20px;
    color: hsl(0, 0%, 41%);
    font-size: 22px;
  }

  .column-container {
    display: flex;
    flex-direction: row;
  }

  .left-column {
    align-items: flex-start;
    margin: 215px 175px;
    width: 50%;
  }

  /* login button */
  .login {
    color: hsl(0, 0%, 41%);
    font-size: 22px;
    margin: 0px 40px;
  }

  /* login button turns black font */
  .login:hover {
    cursor: pointer;
    color: black;
  }

  /* "make remote work" */
  .header-title {
    font-size: 100px;
    overflow: hidden;
    text-align: left;
  }

  /* lorem ipsum */
  .intro-slogan {
    align-content: center;
    text-align: left;
    font-size: 22px;
    padding: 20px 0px;
  }

  /* pic of man holding laptop on top of page */
  .right-column .mobile-hero-img {
    display: none;
  }

  /* pic of man holding laptop on right side of page */
  .desktop-hero-img {
    display: flex;
    width: 100%;
    margin-top: 130px;
  }

  /* learn more button goes from grey to black */
  .learn-more-btn:hover {
    cursor: pointer;
    border: solid 1px black;
    background-color: white;
    color: black;
  }

  .clients {
    padding: 125px 0px;
  }

  .client-logos {
    width: 20%;
  }
}
